<!-- <p>pdf-view works!</p> -->
<div class="card">

    <div class="menuPdf">
        <div>
            <a href="" class="line-height32" onClick="history.go(-1); return false;"><i
                    class="fa fa-angle-left primary-text m-3"></i> </a>
            <span class="heading-2 fw-bold">{{documentName}}</span>
        </div>
      
        <div>
            <button (click)="downloadPDF()" class="float-end heading-3 btn btn-sec-bg submit-button mr-3">
                <i class="fa fa-download sb-text-primary cursor-pointer p12" aria-hidden="true" title="Download"></i>
                {{'DOWNLOAD' }}</button>
        </div>
    </div>
</div>

<div class="m-4">
    <iframe class="pdfDisplay" [src]="pdfResponse2"></iframe>
</div>